tmpfs /tmp tmpfs defaults,rw,nosuid,nodev,noexec,relatime 0 0
tmpfs /var tmpfs defaults,rw,nosuid,nodev,noexec,relatime 0 0
tmpfs /var/tmp tmpfs defaults,rw,nosuid,nodev,noexec,relatime 0 0
/dev/xvdh1 /var/log ext4 defaults,rw,nosuid,nodev,noexec,relatime 0 0
/dev/xdi1 /var/log/audit ext4 defaults,rw,relatime 0 0
/dev/xvdf1 /home ext4 defaults,rw,nodev,relatime 0 0
tmpfs /dev/shm tmpfs defaults,nodev,nosuid,noexec 0 0
